/*<meta />*/

/* MadCap-Branding applanguage:Templates/Projects/Online & Print/Side Navigation and PDF/ */

:root
{
	--Primary: #42473d;
	--Secondary: #d4dbcd;
	--Lightest: #f0ece4;
	--Light: #e7ded6;
	--Medium: #afa090;
	--Dark: #3c352d;
	--Darkest: #2d2722;
	--LogoImage: url('../Images/my-logo.png');
	--LogoImagePrint: url('../Images/my-logo.png');
	--HeroImage: url('../Images/hero.png');
	--FontFamily: Arial, Avenir, Myriad;
}

