/* initialize body grid */
body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;

    display: grid;
    grid-template-rows: min-content 100vh;
}

/* header */
header {
    grid-row: 1/2;
    background-color: white;

    display: grid;
    align-content: center;

    padding-top: 15px;
    padding-bottom: 15px;
}

/* initialize navbar grid */
nav > ul {
    margin: 0px;
    padding: 0px;

    display: grid;
    grid-template-columns: min-content 1fr min-content min-content min-content min-content;
    grid-template-rows: 5vh;
}

/* style navbar items */
nav > ul > li {
    display: grid;
    justify-content: center;
    align-content: center;

    list-style-type: none;
    white-space: nowrap;

    margin-left: 15px;
    margin-right: 15px;

    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}  

/* put items in their grid boxes */
#nav-spacer {
    grid-column: 2/3
}

#about-me {
    grid-column: 3/4;
}

#portfolio {
    grid-column: 4/5;
}

#resume {
    grid-column: 5/6;
}

#contact {
    grid-column: 6/7;
    margin-right: 25px;
}

/* style navbar links */
nav > ul > li > a:not(#gianna-leidich-link){
    text-decoration: none;

    color: black;
    background-color: #EEEEEE;

    border-radius: 12.5px;
    padding: 10px;
}

nav > ul > li > a:not(#gianna-leidich-link):hover {
    color: black;
    background-color: #DDDDDD;
}

/* special styling */
#gianna-leidich {
    grid-column: 1/2;

    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 2.5rem;

    margin-left: 25px;
}

#gianna-leidich-link {
    text-decoration: none;
    color: black;
}

/* main */
main {
    grid-row: 2/3;

    background-color: lavender;
}








@media only screen and (max-width: 900px) {
    body {
        overflow: auto;

        display: grid;
        grid-template-rows: min-content 100vh;
    }

    nav > ul {
        padding-left: 1.5rem;
        padding-right: 1.5rem;

        display: grid;
        grid-template-columns: 1fr;
        /* grid-template-rows: 10vw 10vw 10vw 10vw 10vw;  */
        grid-template-rows: min-content min-content min-content min-content min-content
    }

    nav > ul > li {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    nav > ul > li:not(#gianna-leidich) {
        background-color: #EEEEEE;
        border-radius: 12.5px;
    }

    nav > ul > li:not(#gianna-leidich):hover {
        background-color: #DDDDDD;
    }

    nav > ul > li > a:not(#gianna-leidich-link){
        background-color: transparent;
        /* border: solid red; */
    }


    #gianna-leidich {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-left: 15px;
    }

    #about-me {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #portfolio {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    #resume {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    #contact {
        grid-column: 1/2;
        grid-row: 5/6;

        margin-right: 15px;
    }

    #nav-spacer {
        display: none; 
    }
}



#hidden {
    display: none;
}